.wrapper {
    width: 50%;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.formItem {
    width: 100%;
    margin: 24px 0;
    position: relative;
    flex-shrink: 0;
}

.formItemBar {
    width: 100%;
    height: 2px;
    background: #7d7d7d;
    transition: 0.1s all;
}

